.home-container {
    margin-top: 120px;
    color: #fff;
}
.home-welcome {
    background-color: #fff;
}
.home-row {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}
.home-reset {
    background-color: #2b519a;
    border-radius: 12px;
}
.home-welcome > img {
    width: 100%;
}
.home-reset > h3,
.home-welcome > h3 {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 36px;
}
.home-welcome > h3 {
    color: #2b519a;
    text-transform: capitalize;
}
.home-reset,
.home-welcome {
    padding: 20px;
}

.home-reset-btn {
    background: #fff;
}

.home-reset-btn:hover {
    background: #ebe8e8;
    color: #2b519a;
    outline: #ebe8e8;
}

.home-logout-btn {
    margin-top: 14px;
}
